<!DOCTYPE html>
<% if (language === "zh"){ %>
    <% console.log("index.js language=Chinese  "+language) %>
    <html lang="zh-CN">
<% } else if (language ==="ja"){ %>
    <% console.log("index.js language=Japanese  "+language) %>
    <html lang="ja">
<% } else { %>
    <% console.log("index.js language=English  "+language) %>
    <html lang="en">
<% } %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MitoSearch</title>
    <link rel="stylesheet" href='stylesheets/main.css'>
    <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <meta name="google-site-verification" content="99fifQZxW5GTQS0H1k0Pqa0hO9tvWhuBFxvjhC1z1qg" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JSBFZZQ0RX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JSBFZZQ0RX');
    </script>
</head>
<body>
    <header>
        <p>MitoSearch</p>
        <ul id="nav">
            <li><a href="./"><%= __('Top') %></a></li>
            <li class="disabled"><a href="#"><%= __('About') %></a></li>
            <li></li>
        </ul>
    </header>

    <main>
        <div class="about-main">
            <p><%= __('MainTitle') %></p>
            
            <h1><%= __('headline') %></h1>

            <ol>
                <li><%= __('helpingParagraph1') %></li>
                <img src="img/tooltip.png" style="height: 80%; width: 80%;">
                <li><%= __('helpingParagraph2') %></li>
                <img src="img/cluster.png" style="height: 80%; width: 80%;">
                <li><%= __('helpingParagraph3') %></li>
                <img src="img/riddge.png" style="height: 80%; width: 80%;">
                <li><%= __('helpingParagraph4') %></li>
                <img src="img/filtering.png" style="height: 80%; width: 80%;">
            </ol>

        </div>
    </main>
</body>
</html>